#traceView-traceSeqView {
    height: 100px;
    overflow-y: auto;
}
#traceView-Sequence {
    padding: 0;
}
.btn {
    padding: 1px 4px;
    margin: 2px;
}
.seq-base {
    font-size: 0.8rem;
}
.traceView-wrapper {
    padding: 10px;
    margin: 40px;
    border: solid 1px gray;
    border-radius: 10px;
}
